html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    all: unset;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 15%;
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    
}

.header, .footer, .block1{
    background-color: #1F2937;
}

.main-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.block1, .block2, .block3, .block4 {
    flex-grow: 1;
}
