html {
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    all: unset;
    cursor: pointer;
}

.header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 12%;
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 75px;
    color: #E5E7EB;
}

.header, .footer, .block1{
    background-color: #1F2937;
}

.main-blocks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.block1, .block2, .block3, .block4 {
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 12%;
    gap: 20px;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    gap: 10px;
}

.placeholder {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #E5E7EB;
    background-color: grey;
    height: 200px;
}

button {
    border-radius: 5px;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 15px;
    border-color: #1F2937;
}

.block2 {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.random {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.img-square {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 2px;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 80px;
}

.block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 26%;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-person {
    font-size: 18px;
    font-weight: bolder;
    width: 100%;
    text-align: right;
}